{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %}Register{% endblock %}
{% block content %}
    <form action="{{url_for('index')}}" method="POST">
        {{form.hidden_tag()}}
        
        {{displayField(form.username,autocomplte="off",autofocus=true)}}
        {{displayField(form.password)}}
        {{displayField(form.confirm_password)}}

        <div>
            {{form.submit(class="btn btn-primary")}}
        </div>
    </form>
{% endblock %}